
 body {
  background: rgb(247, 243, 215);
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
  
}
.nav1 {
	width: 100%;
	height: 70px;
	box-shadow: 0px, 5px, 10px, rgba(0, 0, 0, 0.1);
}

.contaner {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.menu li {
  display: inline-block;
}
.menu li a {
  display: inline-block;
  color: #000;
  opacity: 0.7;
  text-decoration: none;
  padding: 20px;
  transition: all .08 ease-in-out;
  margin-right: 250px;
  font-weight: 700;
  font-size: 18px;
  }
.menu li a:hover {
  opacity: 1;
  }
.cont {
  display: flex;
  flex-flow: row nowrap;
  }
.local {
  margin-left: 40px;
  padding: 20px;
  text-decoration: none;
  }
.logo {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000;
  transition: all .08 ease-in-out;
  margin-left: 100px;
}
.logo:hover {
 color: #000;
 /* opacity: 0.7; */
 transform: scale(1.04);
}
.local2 {
  background-color: rgb(216, 216, 213);
  border-radius: 60px;
  margin-left: 40px;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  box-shadow: 0 6px 8px rgba(216, 216, 213 .2);
  transition: all .08 ease-in;
  font-weight: 700;
  font-size: 18px;
}
.local2:hover {
  color: #000;
  opacity: 0.85;
  box-shadow: 0 10px 14px rgba(216, 216, 213 .1);
}